@font-face {
    font-family: 'FuturaPT-DemiBold';
    src: url('https://db.onlinewebfonts.com/t/98efa5745977879929f262b460749fc5.eot');
    src: url('https://db.onlinewebfonts.com/t/98efa5745977879929f262b460749fc5.eot?#iefix') format('embedded-opentype'),
        url('https://db.onlinewebfonts.com/t/98efa5745977879929f262b460749fc5.woff2') format('woff2'),
        url('https://db.onlinewebfonts.com/t/98efa5745977879929f262b460749fc5.woff') format('woff'),
        url('https://db.onlinewebfonts.com/t/98efa5745977879929f262b460749fc5.ttf') format('truetype'),
        url('https://db.onlinewebfonts.com/t/98efa5745977879929f262b460749fc5.svg#FuturaPT-DemiBold') format('svg');
}

:root {
    --navbar-height: 9vh;
}

html,
body {
    margin: 0;
    font-family: 'FuturaPT-DemiBold', Arial, sans-serif;
    overflow: hidden;
    background: ivory;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.sections-wrapper {
    margin-top: var(--navbar-height);
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    overflow: hidden;
}

section {
    display: flex;
    flex-direction: column;
    padding: 0 20% 0 20%;
    height: calc(100vh - var(--navbar-height));
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.5rem;
    overflow: hidden;
}

section p {
    text-align: justify;
}

section ol {
    padding: 0;
}

section li {
    font-size: 1.8rem;
    list-style-position: inside;
}

li:not(:last-child):after {
    content: "➩";
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    color: midnightblue;
    transform: rotate(90deg);
    font-size: 2em;
}

.logo {
    text-decoration: none;
}

.section-title {
    font-size: 3.2rem;
    color: black;
    margin-bottom: 2rem;
}

.typewriter {
    opacity: 0;
    padding-top: 3rem;
    height: 8rem;
    overflow: visible;
    font-size: 2.2rem;
}

.cta-button {
    margin: 30px auto 0;
    background-color: midnightblue;
    border: none;
    color: white;
    margin-top: 2rem;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    max-width: 300px;
}

footer {
    padding-top: 8em;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    scroll-snap-align: end;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    background-color: midnightblue;
    color: white;
    align-items: center;
    position: fixed;
    height: var(--navbar-height);
    top: 0;
    left: 0;
    right: 0;
}

.navbar .logo {
    font-size: 2rem;
}

.language-button {
    display: none; /* TODO: remove when en site ready */
    color: white;
    text-decoration: none;
    padding: 10px;
}

.team-member {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

.profile-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic-circle {
    display: flex;
    align-items: center;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    border: 6px solid midnightblue;
}

.profile-pic {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.profile-title {
    margin: 0;
    font-size: 1em;
    white-space: nowrap;
}

.profile-name {
    margin: 0;
    font-size: 1.5em;
    white-space: nowrap;
}

.profile-description {
    margin-left: 3em;
    width: 70%;
}

semantiq {
    font-weight: bold;
    font-family: 'FuturaPT-DemiBold', Arial, sans-serif;
}

@media only screen and (max-width: 768px) {
    html, body {
        overflow: visible;
    }

    .navbar {
        position: relative;
    }

    .sections-wrapper {
        margin-top: 0;
        height: fit-content;
        overflow: visible;
    }

    section {
        padding: 1em 2em 1em 2em;
        font-size: 1.1rem;
        height: unset;
        min-height: calc(100vh - var(--navbar-height));
        overflow: visible;
    }

    .section-title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .typewriter {
        opacity: 0;
        padding-top: 3rem;
        height: 8rem;
        overflow: visible;
        font-size: 1.5rem;
    }

    section p {
        text-align: justify;
    }

    section li {
        font-size: 1.2rem;
        list-style-position: inside;
    }

    .profile-pic-circle {
        display: flex;
        align-items: center;
        width: 20vh;
        height: 20vh;
        overflow: hidden;
        border-radius: 50%;
        border: 6px solid midnightblue;
    }

    .profile-description {
        display: none;
    }

    footer {
        color: gray;
        font-size: 0.8em;
        display: flex;
        flex-direction: row-reverse;
    }

    footer span {
        padding: 0 0.2em 0 0.2em;
    }
}
